body {
  background-color: darkblue;
  background-color: hsl(218, 28%, 13%);
  font-family: 'Open+Sans', sans-serif;
  margin: 0;
  color: white;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 65px;
  width: 75%;
  text-align: center;
  margin-left: 13%;
  margin-top: 0;
  padding-top: 5%;
  color: white;
  position: relative;
  z-index: 10;
}

h2 {
  font-family: 'Raleway', sans-serif;
  width: 58%;
  font-size: 30px;
  text-align: center;
  margin-left: 18%;
  color: white;
  font-weight: 200;
  position: relative;
  z-index: 10;
}

.logo {
  margin-top: 20px;
  width: 90px;
  height: 30px;
}

.header-container {
  background-color: darkblue;
  background-color: hsl(217, 28%, 15%);
}

.intro {
  background-color: darkblue;
  background-color: hsl(217, 28%, 15%);
}

.header-block {
  position: absolute;
  right: 50px;
  top: 40px;
}

.header-link {
  font-family: 'Open Sans', sans-serif;
  margin-left: 10px;
  text-decoration: none;
  color: white;
}

.intro-img {
  background-color: darkblue;
  background-color: hsl(217, 28%, 15%);
  display: block;
  margin: 0 auto;
  padding-top: 100px;
  width: 50%;
}

.button {
  background: linear-gradient(to right, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
  border: none;
  color: #EAF6F6;
  padding: 12px 64px;
  position: absolute;
  left: 50%;
  font-weight: 400;
  transform: translate(-50%, -50%);
  text-decoration: none;
  border-radius: 20px;
  margin: 50px auto;
  z-index: 8;
}

.curvy-img {
  background-color: darkblue;
  background-color: hsl(217, 28%, 15%);
  margin-top: -13%;
  width: 100%;
  position: relative;
  z-index: 1;
}

.cover {
  height: 20px;
  margin-top: -10px;
  background-color: darkblue;
  background-color: hsl(218, 28%, 13%);
}

.grid {
  margin-top: 0;
  display: flex;
  justify-content: center;
}

.grid-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 35%;
  margin: 0 15px;
}

.grid-box {
  margin-top: 20%;
}

.grid-img {
  display: block;
  margin: 0 auto;
}

.grid-h3 {
  display: block;
  margin: 5% auto;
  width: 50%;
  text-align: center;
}

.grid-p {
  display: block;
  margin: 0 auto;
  width: 70%;
  text-align: center;
}

.stay-productive-img {
  display: inline-block;
  margin-top: 50px;
  margin-left: 5%;
  width: 40%;
  height: auto;
}

 .stay-productive-box {
  color: white;
  margin-top: 10%;
  margin-right: 10%;
  float: right;
  font-size: 1vw;
  text-align: left;
  width: 40%;
  height: auto;
}

.stay-productive-h2 {
  width: 55%;
  font-size: 2vw;
  text-align: left;
  margin-left: 0;
  color: white;
  font-weight: 200;
}

.stay-productive-line {
  width: 30%;
  border-bottom: 5px solid cyan;
  border-bottom: 5px solid hsl(176, 68%, 64%);
  border-bottom-width: thin;
}

.stay-productive-footer {
  display: inline-block;
  text-align: left;
  margin-left: 0;
  color: cyan;
  color: hsl(176, 68%, 64%);
  font-weight: 100;
  white-space: nowrap;
  flex-shrink: 100;
}

.arrow {
  display: inline-block;
  position: relative;
  top: .3vw;
  white-space: nowrap;
  width: 1.25vw;
  height: auto;
}

.stay-productive-hr {
  width: 26%;
  margin-top: -.5vw;
  margin-left: 0;
  border-top: none;
  border-color: cyan;
  border-color: hsl(176, 68%, 64%);
}

.quotes {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-left: 13vw;
  margin-top: 50px;
}

.grid1 {
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: -1vw;
}

.grid1-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 75%;
}

.testimonials-box {
  background-color: darkblue;
  background-color: hsl(219, 30%, 18%);
  margin: 0 15px;
  height: 110%;
}

.testimonials-text {
  margin: 20px 20px;
}

.testimonials-img {
  border-radius: 50%;
  width: 50px;
  margin-top: 20px;
  float: left;
}

.testimonials-name {
  margin: 40px 0 0;
  padding-left: 70px;
  color: white;
}

.testimonials-title {
  padding-left: 70px;
  font-size: 12px;
  color: white;
}

.calltoaction {
  height: 200px;
  background-color: darkblue;
  background-color: hsl(216, 53%, 9%);
}

.signup {
  width: 60%;
  height: 300px;
  margin-top: 20%;
  margin-left: 20vw;
  position: relative;
  font-size: 1vw;
  z-index: 2;
  background-color: darkblue;
  background-color: hsl(217, 28%, 15%);
}

.signup-header {
  padding-top: 20px;
}

.signup-p {
  color: white;
  text-align: center;
  margin-left: 12%;
  width: 75%;
}

.email {
  display: inline-block;
  width: 30vw;
  height: 4vw;
  margin-left: 5vw;
  margin-top: 2vw;
  position: absolute;
  border-radius: 40px;
  text-align: center;
}

.getstarted {
  display: inline-block;
  border-radius: 40px;
  width: 15vw;
  height: 4.2vw;
  margin-left: 38vw;
  margin-top: 2vw;
  font-size: 1.5vw;
  color: white;
  font-weight: 600;
  border: none;
  background: cyan;
  background: linear-gradient(to right, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
}

.footer {
  background-color: darkblue;
  background-color: hsl(216, 53%, 9%);
  height: 600px;
  font-size: 1vw;
  margin-top: -150px;
  position: relative;
  z-index: 1;
}

.footer-logo {
  position: absolute;
  width: 10vw;
  height: auto;
  margin-top: 150px;
  margin-left: 5%;
}

.footer-location {
  display: inline-block;
  position: absolute;
  margin-top: 250px;
  margin-left: 5%;
}

.footer-location-text {
  display: inline-block;
  width: 20%;
  position: absolute;
  margin-top: 250px;
  margin-left: 10%;
  font-weight: 100;
  color: white;
}

.footer-phone-and-email {
  display: inline-block;
  margin-left: 35%;
  width: 15%;
}

.footer-phone-icon {
  display: inline-block;
  margin-top: 250px;
  width: 1vw;
}

.footer-phone-text {
  display: inline-block;
  margin-left: 4%;
  margin-top: 250px;
  color: white;
}

.footer-email-icon {
  display: inline-block;
  margin-top: 0;
  width: 1vw;
}

.footer-email-text {
  display: inline-block;
  margin-left: 4%;
  margin-top: 0;
  color: white;
}

.about-us {
  display: inline-block;
  margin-left: 5%;
  position: absolute;
  margin-top: -3.5vw;
  color: white;
  width: 15%;
}

.contact-us {
  display: inline-block;
  margin-left: 17%;
  position: absolute;
  margin-top: -3.5vw;
  color: white;
  width: 15%;
}

.social-media {
  display: inline-block;
  width: 15%;
  position: absolute;
  margin-top: -4vw;
  margin-left: 35vw;
}

.text {
  display: inline-block;
  background-color: transparent;
  border-style: solid;
  border-radius: 50%;
  border-width: thin;
  height: 3vw;
  width: 3vw;
  color: white;
  position: relative;
  margin-left: 1vw;
}

.text1 {
  font-size: 2vw;
  margin-top: .5vw;
  margin-left: .8vw;
}

.text2 {
  font-size: 2vw;
  margin-top: .5vw;
  margin-left: .6vw;
}

.attribution {
  text-align: center;
  margin-top: 15vw;
}

.attribution a {
  color: purple;
  color: hsl(228, 45%, 44%);
}
